  .dropImg{    width: 100px;
    height: 100px;
    border: 2px solid blue;
    border-radius: 50%;}
    .changepass{    background-color: #fff;
    margin-bottom: 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    color: #343a40;
    white-space: nowrap;}

    
    .bttons{float:right;}