 .dropImg{    width: 100px;
    height: 100px;
    border: 2px solid #3498DB;
    border-radius: 50%;}
    .uploadtab{margin-top: 12px;}
    .uploadbtn{margin-bottom: 0px;}
    .editbtn{float: right;}
    .changepass{    background-color: #fff;
    margin-bottom: 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    color: #343a40;
    white-space: nowrap;}
    .bttons{float:right;}



     